html {
  background-color: green;
  min-height: 100%;
}

body {
  background-color: green;
  color: white;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.input-alert {
  padding: 3px;
  margin-bottom: 8px;
}

.form-control:focus {
  border-color: #eeeeee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.5);
}

.navbar-nav > li > a:focus {
  outline: none;
}