.Chat {
  position: fixed;
  z-index: 1010;
  right: -275px;
  top: 50%;
  margin-top: -175px;
  width: 300px;
  transition: right 0.3s;
  height: 350px;
  background-color: #eeeeee;
  color: #333;
  border-radius: 20px 0 0 20px;
  box-shadow: -2px 0px 10px 5px rgba(0,0,0,.2);
}

.Chat input, .Chat button {
  border-radius: 0;
}

.Chat.Open {
  right: 0;
}

.Chat-click-border {
  float: left;
  width: 25px;
  height: 350px;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}

.Chat-click-border.unread {
  background-color: orange;
}

.Chat-click-border .Close-chat {
  font-size: 15px;
  margin-top: 18px;
}

.Click-border-text {
  height: 262px;
  line-height: 262px;
  font-weight: bold;

  transform: rotate(90.0deg) !important;
  -webkit-transform: rotate(90.0deg) !important;
  -moz-transform: rotate(90.0deg)  !important;
  -ms-transform: rotate(90.0deg)  !important;
  -o-transform: rotate(90.0deg)  !important;
}

.Chat-area {
  background-color: white;
  float: left;
  width: 275px;
  height: 350px;
}

.Text-area {
  overflow-y: auto;
  height: 316px;
  padding: 3px 8px;
}

.Text-area li {
  text-align: left;
}

.Text-area li .Sender {
  font-weight: bold;
}

.Text-area li .Message {
  word-wrap: break-word;
}

@media(max-width:767px) {
  .Chat {
    right: -280px;
    top: 10%;
    margin-top: 0;
    height: 250px;
  }

  .Chat-click-border {
    width: 20px;
    height: 250px;
  }

  .Click-border-text {
    height: 162px;
    line-height: 162px;
  }

  .Chat-area {
    width: 280px;
    height: 250px;
  }

  .Text-area {
    height: 216px !important;
  }
}