.Game {
  background-color: green;
  text-align: center;
  color: white;
  height: 100%;
}

.Game-card {
  height: 120px;
  width: 80px;
  white-space: normal;
  margin-left: 5px;
  margin-top: 30px;
  border: solid black 1px;
  display: inline-block;
}

.Game-card.selected {
  margin-top: 0px;
}

.Game-table {
  height: 150px;
}

.Game-hit-button {
  padding: 10px 20px;
  margin-bottom: 10px;
}