.Game {
  text-align: center;
}

.Game-player-name {
  font-size: 1.8em;
}

.Game-player-name-cpu {
  font-size: 0.6em;
}

.Game-player-name.turn {
  font-weight: bold;
  border: 2px solid white;
}

.OutOfGame {
  color: #aaaaaa;
}

.Game-player-cards {
  margin-top: 30px;
}

.Game-player-card-count {
  font-size: 1em;
}

.Game-player-card-count-number {
  font-size: 1.4em;
}

.Game-card {
  vertical-align: top;
  height: 129px;
  width: 90px;
}

.Game-card.selected {
  margin-top: -30px;
}

.Game-table {
  margin: 15px 0;
  height: 130px;
}

.Game-direction {
  display: inline;
  margin-right: 50px;
  margin-left: -150px;
}

.Game-direction img {
  padding-top: 20px;
}

.Game-table-cards {
  display: inline;
}

.Game-hit-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  min-width: 120px;
}

.Player-status {
  text-transform: uppercase;
}

.Player-status.Hit {
  font-weight: bold;
}

.Player-status.Pass {
  color: orange;
  font-weight: bold;
}

.Player-status.Waiting, .Player-status.OutOfGame {
  visibility: hidden;
}

.Results-modal {
  color: #333;
}

@media(min-width:1200px) {
  .Game-card:not(:first-child) {
    margin-left: -30px;
  }
}

@media(min-width:992px) {
  .Game-card:not(:first-child) {
    margin-left: -30px;
  }
}

@media(min-width:768px) {
  .Game-card:not(:first-child) {
    margin-left: -40px;
  }
}

@media(max-width:767px) {
  .Game-player-name {
    font-size: 0.9em;
  }

  .Game-player-cards {
    margin-top: 15px;
  }

  .Game-player-card-count {
    font-size: 0.8em;
    margin: 0;
  }

  .Game-player-card-count-number {
    font-size: 0.9em;
  }

  .Game-table {
    margin: 5px 0;
    height: 77px;
  }

  .Game-direction {
    margin-left: -64px;
    margin-right: 25px;
  }

  .Game-direction img {
    height: 55px;
    padding-top: 15px;
  }

  .Game-card {
    height: 78px;
    width: 54px;
  }

  .Game-card.selected {
    margin-top: -15px;
  }

  .Game-card:not(:first-child) {
    margin-left: -30px;
  }

  .Game-status {
    font-size: 0.8em;
    margin: 0;
  }

  .Player-status {
    font-size: 0.8em;
  }
}

@media(max-width:379px) {
  .Game-direction {
    margin-left: -70px;
  }

  .Game-card:not(:first-child) {
    margin-left: -32px;
  }
}

@media(max-width:349px) {
  .Game-direction {
    margin-left: -75px;
  }

  .Game-card:not(:first-child) {
    margin-left: -35px;
  }
}