.Game {
  background-color: green;
  text-align: center;
  color: white;
  height: 100%;
}

.Game-player-name {
  font-size: 1.8em;
}

.Game-player-name-cpu {
  font-size: 0.6em;
}

.Game-player-name.turn {
  color: #aaaaaa;
  text-decoration: underline;
}

.Game-player-cards {
  margin-top: 30px;
}

.Game-player-card-count {
  font-size: 1.4em;
}

.Game-card {
  vertical-align: top;
  height: 129px;
  width: 90px;
}

@media(max-width:767px) {
  .Game-card:not(:first-child) {
    margin-left: -55px;
  }
}

@media(min-width:768px) {
  .Game-card:not(:first-child) {
    margin-left: -40px;
  }
}

@media(min-width:992px) {
  .Game-card:not(:first-child) {
    margin-left: -30px;
  }
}

@media(min-width:1200px) {
  .Game-card:not(:first-child) {
    margin-left: -30px;
  }
}

.Game-card.selected {
  margin-top: -30px;
}

.Game-table {
  margin: 15px 0;
  height: 130px;
}

.Game-direction {
  display: inline;
  margin-right: 50px;
  margin-left: -150px;
}

.Game-direction img {
  padding-top: 20px;
}

.Game-table-cards {
  display: inline;
}

.Game-hit-button {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.Game-status {
  text-transform: uppercase;
}

.Game-status.Hit {
  color: #cccccc;
  font-weight: bold;
}

.Game-status.Pass {
  color: orange;
  font-weight: bold;
}

.Game-status.Waiting {
  visibility: hidden;
}