.Root {
  margin-bottom: 52px;
}

.menu-glyphicon {
  margin-right: 7px;
}

.navbar-brand {
  height: 36px;
  margin-top: 7px;
  margin-right: 5px;
  padding: 0;
  cursor: pointer;
}

.Content-grid {
  text-align: center;
  padding-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
  background-color: #f8f8f8;
  color: #777;
}

.footer > .container {
  margin-top: 5px;
  text-align: center;
}

.footer a {
  color: #337ab7;
}