.Register-container {
  margin-top: 15px;
}

.Registration-successful {
  height: 64px;
}

.Registration-successful img, .Registration-successful .Text-area {
  text-align: left;
  float: left;
}

.Registration-successful .Text-area {
  margin-left: 12px;
}